@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700');
@font-face {
    font-family: 'Arial';
    src: url('fonts/arial.ttf');
}
@font-face {
    font-family: 'TitilliumText22L004';
    src: url('fonts/TitilliumText22L004.woff');
}
@font-face {
    font-family: 'Raleway-Regular';
    src: url('fonts/Raleway-Regular.ttf');
}
* {
    box-sizing: border-box;
    text-align: center;
	font-family: 'Raleway', sans-serif;
}
body {
	margin: 0;
	background-color: #fafafa;
}
.container {
	margin: 0 auto;
	max-width: 1200px;
}
.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
 }
 [class*="col-"] {
    width: 100%;
    padding: 12px; 
	float:left;
}
.col-1 {
	width: 8.33%;
	}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-20 {width: 20%;}
.col-40 {width: 40%;}
.footer {
	min-height: 72px;
	background: #1683ca;
	color: white;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}
.footer-icon {
    float: left;
	margin-top: 26px;
}
footer img {
    float: left;
	margin-right: 17px;
}
p {
    float: left;
    margin: 0;
    color: white;
    padding: 0;
	line-height: 26px;
}
.social-icon-ul{
	margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 5px;
}
.social-icon-ul > li {
	display: inline-block;
	padding-left: 11px;
}
.fa {
	color: #1683ca;
	font-size: 14px;
	width: 18px;
}
a.social-icon-a {
    background: #074771;
    border-radius: 50%;
    padding: 5px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
a.social-icon-a:hover {
	background: white;
}
.footer-ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-top: 5px;
}
.under-footer {
	color: #000000;
	min-height: 219px;
	background: #ffffff;
}
p.under-footer-p {
	color: #000000;
	font-size:	12px;
	font-family: 'Arial';
	font-weight: bold;
	margin: 0;
	padding: 0;
	line-height: 19px;
	margin-top: 51px;
	margin-bottom: 40px;
}
.footer-list {
    margin-top: 26px;
    float: right;
}
.img-social-media {
	    margin-right: 8px;
}
.footer-socil-icon2 {
    margin-top: 26px;
    float: right;
}
span.sep {
    margin-left: 15px;
}
.footer-ul > li {
	display: inline-block;
}
a.footer-a {
    padding: 10px;
    color: white;
	text-decoration: none;
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
a.footer-a:hover {
	color: #074771;
}
.newslatter {
	min-height: 287px;
	background-image: URL(img/footer-img.png);
    background-size: cover;
    background-position: center;
}
.gray-filter {
	background-color: rgba(243, 243, 243, 0.5);

	min-height: 287px;
}
h3.newslatter-h3 {
	color: #1683ca;
	font-size: 24px;
	font-family: 'Raleway-Regular';
	text-align: left;
	margin: 0;
    margin-bottom: 12px;
	margin-top: 63px;
}
p.newslatter-p {
	color: #949494;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 20px;
	text-align: left;
}
.newslatter-box-ul {
	max-width: 236px;
}
.newslatter-ul {
	list-style-type: none;
	padding: 0;
	float: left;
}
.newslatter-li {
	text-align: left;
	color: #585757;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	line-height: 26px;
}
.margin-ul {
	margin-left: 34px;
}
.form-control {
    height: 43px;
	margin-top: 36px;
}
a.newslatter-a {
    color: #585757;
    text-decoration: none;
    font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
a.newslatter-a:hover { 
	color: #1683ca;
}
.form-control input {
    width: 70%;
    border: 1px solid #fff;
    color: #555;
    padding: 6px 12px;
    float: left;
    font-size: 14px;
    height: 43px;
}
.form-control button {
    /* border-radius: 3%; */
    background-color: #1683ca;
    border-color: #1683ca;
    width: 30%;
    font-size: 14px;
    text-align: center;
    padding: 0;
    float: left;
	cursor: pointer;
    height: 43px;
    color: white;
    border: 0;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    margin: 0;
}
.form-control button:hover {
	background: #1c66a1;
}
.banners {
	min-height: 210px;
}
.img-logo {
	max-width: 200px;
	
}
.banners-img {
	margin-top: 0;
}
.margin-img {
	margin-left: 30px;
	margin-right: 30px;
}
.banners-box {
    display: inline-block;
}
.img-responsive {
	height: auto;
	width: 100%;
}
.events {
	min-height: 521px;
}
.events .forum-box {
	padding: 0;
}
.events .forum-box h4,p.forum-p, .forum-box2 {
	padding: 10px;
}
.events .col-7 {
	margin: 0;
	padding: 0;
}
.events .col-5 {
	margin: 0;
	padding: 0;
}
.max-width {
	max-width: 472px;
}
.max-width2 {
	max-width: 672px;
}
h2 {
	text-align: left;
	color: #585757;
	font-size: 18px;
	font-family: 'Raleway-Regular';
	margin-left: 15px;
	text-transform: uppercase;
}
p.info-forum-p {
    color: #1c7ac1;
	background: white;
	padding: 35px 12px;
	font-size: 36px;
	font-family: 'Raleway-Regular';
	text-align: center;
	border: 5px;
	float: none;
}
.info-forum-box {
	margin-top: 90px;
}
.margin-banner {
	margin-top: 30px;
}
.border {
	border-bottom: 4px solid #ededed;
	margin-bottom: 28px;
	margin-left: 15px;
	margin-right: 15px;
}
.new-post {
    min-height: 90px;
    border-bottom: 1px solid rgba(176, 176, 176, 0.31);
    border-top: 1px solid rgba(255, 255, 255, 0);
    display: inline-block;
    width: 100%;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.new-post:hover {
	background: white;
	cursor: pointer;
}
.events-p {
	color: #1683ca;
	font-size: 15px;
	font-family: 'Raleway-Regular';
	font-weight: bold;
	width: 100%;
	text-align: left;
	margin-right: 10px;
}
.events-box-p {
    float: right;
	margin-top: 15px;
	width: 80%;
}
.events-box-p2 {
    display: block;
}
img.events-img {
    border-radius: 50%;
    float: left;
	margin-top: 7px;
}
p.event-p-time {
	color: #585757;
    float: right;
	margin-right: 10px;
}
p.event-p-name {
    float: left;
	color: #585757;
	font-weight: 600;
}
.gallery {
	min-height: 396px;
}
img.gallery-big-banner {
    width: 100%;
	padding: 15px;
}
.padding-img {
	padding: 15px;
}
img.gallery-img {
	width: 100%;
}
img.opacity {
	opacity: 0.6;
}
img.opacity:hover {
	opacity: 1;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
}
.gallery .col-3 {
	padding: 0;
	margin: 0;
}
.forum {
	min-height: 428px;
}
.forum .col-3 {
	text-align: left;
	margin: 0;
	padding: 0;
}
span.forum-span {
	font-size: 11px;
	color: #ffffff;
	padding: 4px 11px;
	background: #b0b0b0;
	text-transform: uppercase;
	font-family: 'Raleway-Regular';
}
h4 {
	color: #1683ca;
	font-size: 18px;
	font-family: 'Raleway-Regular';
	text-transform: uppercase;
	text-align: left;
	display: block;
}
p.forum-p {
    color: #949494;
    font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	line-height: 20px;
	margin-bottom: 10px;
}
hr.style1{
	display: none;
    border-top: 1px solid rgba(154, 154, 154, 0.26);
    margin-top: 51px;
}
.forum-box {
	padding: 15px;
	background: white;
	min-height: 377px;
	text-align: left;
	border-bottom: 1px solid #ededed;
	margin: 15px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	cursor: pointer;
}
.forum-box:hover {
	-webkit-box-shadow: 3px 3px 28px -3px rgba(34,97,191,1);
	-moz-box-shadow: 3px 3px 28px -3px rgba(34,97,191,1);
	box-shadow: 3px 3px 28px -3px rgba(34,97,191,1);
}
p.forum-p-name {
    color: #1683ca;
    font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	float: left;
	padding-left: 5px;
}
p.forum-p-time {
    color: #949494;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
    float: right;
	padding-left: 5px;
}
i.fa.fa-user {
    float: left;
    line-height: 24px;
    font-size: 16px;
    color: #a9abac;
}
i.fa.fa-clock-o {
    float: right;
    line-height: 24px;
    font-size: 16px;
    color: #a9abac;
}
.forum-box-user {
	float: left;
	margin-top: 6px;
}
.forum-box-time{
	float: right;
	margin-top: 6px;
}
.forum-box2 {
    display: inline-block;
    border-top: 1px solid rgba(154, 154, 154, 0.26);
    margin-top: 51px;
	width: 100%;
}
.history {
	min-height: 456px;
}
.news {
	min-height: 687px;
}
p.news-p {
    color: #1683ca;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Open Sans', sans-serif;
}
.news .border {
	margin-bottom: 0;
}
.header-time {
	float: left;
	margin-top: 13px;
}
.header-lang {
	float: right;
	margin-top: 13px;
}
p.header-p {
	color: #585757;
	font-size: 11px;
	font-family: 'Open Sans', sans-serif;
	padding: 5px;
	line-height: 0;
	position: relative;    
	top: 3px;
}
.header-lang-pl {
	width: 26px;
	display: inline-block;
	position: relative;
    top: 0;
	height: 18px;
	border-radius: 2px;
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
	background: #eee;
}
.header-lang-pl:hover {
	-webkit-box-shadow: 3px 3px 28px -3px rgba(34,97,191,1);
	-moz-box-shadow: 3px 3px 28px -3px rgba(34,97,191,1);
	box-shadow: 3px 3px 28px -3px rgba(34,97,191,1);
}
.header-lang-box {
	display: inline-block;
}
.header-lang-active {
	background: #1f75bc;
}
p.header-p.header-p-active {
    color: white;
}
.upper {
	text-transform: uppercase;
}
a.header-a {
    text-decoration: none;
    color: #585757;
    text-transform: uppercase;
    font-size: 11px;
}
a.header-a:hover {
	text-decoration: underline;
}
.header-box-a {
    display: inline-block;
    padding-left: 10px;
    position: absolute;
    top: 10px;
}
.header-ul >li {
	display: inline-block;
	line-height: 56px;
}
ul.header-ul {
    background: #0f8fd7;
    padding: 0 10px;
}
a.nav-a {
    color: white;
    font-size: 16px;
	padding: 19px;
    text-decoration: none;
}
a.nav-a:hover {
	color: #074771;
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.header-top {
	display: inline-block;
    width: 100%;
    position: relative;
    top: 0;
}
.flexsearch--input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 12px 58px;
    border-color: #e0e0e0;
    border-radius: 35px;
    border-style: solid;
    border-width: 2px;
    margin-top: 19px;
    color: #585757;
    font-family: 'Open-Sans', sans-serif;
    font-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.header-page {
	display: inline-block;
    width: 100%;
}
a.header-logo-a {
    float: left;
}
.banners-box-all {
    display: inline-block;
    width: 100%;
}
.row.space {
    padding-top: 40px;
}
.search {
    float: right;
	padding-right: 80px;
}
.widget {
    float: right;
}
.widget-tomorow {
    display: inline-block;
    max-width: 180px;
	min-height: 130px;
	padding-left: 40px;
}
.widget-img {
    float: right;
    height: auto;
}
.widget-tomorow-box-p {
    width: 50%;
    height: auto;
}
p.widget-tomorow-p {
	color: #585757;
	display: block;
	font-size: 13px;
	font-family: 'Open-Sans', sans-serif;
}
p.widget-tomorow-p2 {
	color: #ababab;
	font-size: 12px;
	display: block;
	font-family: 'Open-Sans', sans-serif;
}
p.widget-tomorow-temperature {
	color: #585757;
	display: block;
	font-size: 34px;
	font-family: 'TitilliumText22L004';
}
.social-box {
    display: inline-block;
    width: 100%;
	margin-top: 17px;
}
.rss,.fb,.google-plus {
    float: left;
}
.history .col-3 {
	margin: 0;
	padding: 0;
}
.history .col-4 {
	margin: 0;
	padding: 0;
}
.video {
    display: inline-block;
}
p.contact-p {
	color: #585757;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
span.blue-span {
    color: #1683ca;
	font-family: 'Open Sans',;
	font-weight: bold;
}
.bold {
	font-weight: bold;
}
a.blue {
	color: #1683ca;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
.triangle {
	width: 0;
	float: left;
	height: 0;
	border-style: solid;
	border-width: 3px 0 3px 5.2px;
	border-color: transparent transparent transparent #007bff;rder-color: transparent transparent transparent #007bff;
	margin-left: 10px;
    margin-top: 6px;
    margin-right: 10px;
}
.nav-ul2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 12px;
}
.nav-ul2-box {
	float: left;
	
}
.btn {
    margin-top: 15px;
    border: solid 2px #1b7bc3;
    color: #fff;
    border-radius: 3px;
    background: #1b7bc3;
    transition: all .3s ease-in-out;
    display: inline-block;
    padding: 8px 20px;
	cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.33;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.btn:hover {
	background: #1c66a1;
}
.left {
	text-align: left;
}
.form-control2{
	width: 100%;
	background: none;
	padding: 12px 12px;
	border: 2px solid #e0e0e0;
}

.form-group label {
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #585757;
	font-size: 14px;
	margin: 0;
	margin-bottom: 10px;
}
textarea {
	resize: none;
	width: 100%;
	background: none;
	min-height: 276px;
	border: 2px solid #e0e0e0;
}
a.nav-ul2-page {
    float: left;
	color: #949494;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-size: 14px;
}
@media (max-width: 1230px) {
	.new-post {
		padding: 10px;
	}
	a.header-logo-a {
		margin-left: 10px;
	}
	.header-time {
		margin-left: 5px;
	}
	.header-lang {
		margin-right: 10px;
	}
		.footer-icon {
		margin-left: 12px;
	}
	.footer-socil-icon2 {
		margin-right: 12px;
	}
	p.under-footer-p {
		padding-left: 12px;
		padding-right: 12px;
	}
	.search {
		float: right;
		padding-right: 0;
	}
	.widget {
		padding-right: 10px;
	}
}
@media (max-width: 992px) {
	.widget {
		float: none;
	}
	.contact .col-8 {
		display: block;
		width: 100%;
	}
	.contact .col-4 {
		display: block;
		width: 100%;
	}
	.search {
		float: none;
	}
	a.header-logo-a {
		float: none;
	}
}
@media (max-width: 768px) {
	.newslatter .col-4 {
    display: block;
    width: 100%;
}
	.history .col-4 {
		display: block;
		width: 50%;
	}
	h3.newslatter-h3 {
		text-align: center;
		margin-top: 5px;
	}
	p.newslatter-p {
		float: none;
		text-align: center;
	}
	.newslatter-box-ul {
		display: inline-block;
	}
	.form-control {
		margin-bottom: 20px;
	}
	.events .col-5 {
		display: block;
		width: 100%;
	}
	.events .col-7 {
		display: block;
		width: 100%;
	}
	.gallery .col-3 {
		display: block;
		width: 50%;
	}
	.forum .col-3 {
		display: block;
		width: 50%;
	}
	.history .col-9 {
		display: block;
		width: 100%;
	}
	.history .col-3 {
		display: block;
		width: 100%;
	}
	.news .col-8 {
		display: block;
		width: 100%;
	}
	.news .col-4 {
		display: block;
		width: 100%;
	}
	.news .col-3 {
		display: block;
		width: 50%;
	}
	.col-3.clearfix {
		clear: both;
	}
	.banners {
		padding-bottom: 41px;
	}
}

@media (max-width: 491px) {
	form .col-6 {
		display: block;
		width: 100%;
	}
	.gallery .col-3 {
		display: block;
		width: 100%;
	}
	p.under-footer-p {
		text-align: justify;
	}
	footer img {
		padding-left: 10px;
	}
	.margin-img {
		margin: 0;
	}
	.banners-img {
		width: 100%;
		padding: 15px;
	}
	.forum .col-3 {
		display: block;
		width: 100%;
	}
	.header-time {
		margin-top: 13px;
	}
	.header-lang {
		display: none;
	}
	.header-box-a {
		display: inline-block;
		padding-left: 10px;
		width: 50%;
	}
	.header-time {
		display: inline-block;
		width: 50%;
	}
	.footer {
		height: auto;
		display: inline-block;
	}
	.footer-ul > li {
		display: block;
		text-align: justify;
	}
	span.sep {
		display: none;
	}
	.social-icon-ul {
		margin-left: 10px;
		float: left;
	}
	.footer-list {
		display: inline-block;
		width: 100%;
	}
	a.footer-a {
		line-height: 50px;
	}
	.footer-socil-icon2 {
		display: inline-block;
		width: 100%;
	}
	.footer-icon {
		display: inline-block;
		width: 100%;
		margin: 0;
		padding: 0;
		margin-top: 10px;
		margin-left: 0;
	}
	.header-ul >li {
		display: block;
	}
}
@media (max-width: 375px) {
	.flexsearch--input {
		padding: 12px 23px;
	}
	textarea {
		min-height: 225px;
	}
	.history .col-4 {
		display: block;
		width: 100%;
	}
	.header-top {
		overflow: hidden;
		height: 82px;
	}
	p.header-p {
		line-height: 16px;
	}
	.header-time {
		margin: 0;
		padding: 0;
		margin-top: 6px;
	}
}